<%= form_with(model: activity, local:true) do |form| %>

<% if activity.errors.any? %>
<ul>
  <% activity.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>
<% end %>

<div class="field">
  <%= form.label :title %>
  <%= form.text_field :title, id: :activity_title %>
</div>

<div class="field">
  <%= form.label :location %>
  <%= form.collection_select :location_id, Location.all, :id, :title %>
</div>

<div class="field">
  <%= form.label :description %>
  <%= form.text_area :description, id: :activity_description %>
</div>

<div class="field">
  <%= form.label :image %>
  <%= form.file_field :image, id: :activity_image %>
</div>

<div class="action">
  <%= form.submit %>
</div>

<% end %>
